[2016-12-23 04:23] jpailthorpe opened #1 "Guide_Mobile_iphone5(320px): footer icons display within sidenav drawer when opened causing interaction and display issues"
![screen shot 2016-12-22 at 11 25 46 pm](https://cloud.githubusercontent.com/assets/10051544/21447110/a1fefbce-c89d-11e6-937c-09c3833effce.png)

[2016-12-23 04:26] jpailthorpe opened #2 "FullNav: Background is a bit too opaque causing difficulty sometimes reading the menu items."
I think we should both make the menu items larger and/or make the background 100%.

![screen shot 2016-12-22 at 11 29 39 pm](https://cloud.githubusercontent.com/assets/10051544/21447137/148287e2-c89e-11e6-8efe-1056ea334654.png)

[2016-12-23 04:28] jpailthorpe opened #3 "Home_Css: Margins on home page when in mobile 320px range are much too wide causing content to display funky"
This is a similar issue with the mobile version of the guide. I think narrowing the margins and perhaps lowering font would fix problem. The guide, for example, looks great.

![screen shot 2016-12-22 at 11 31 22 pm](https://cloud.githubusercontent.com/assets/10051544/21447140/26b7bce8-c89e-11e6-8083-d8a217171947.png)

[2016-12-23 04:29] jpailthorpe commented on #3
another good example is how the game page cards are displayed.

[2016-12-23 04:31] jpailthorpe opened #4 "Sidenav_Tab(guide+activities): on mobile, the sidenav tab is quite annoying since it extends across the screen and floats in place, obstructing view."
I wonder if we can make it appear only when scrolling back up ?

![screen shot 2016-12-22 at 11 34 56 pm](https://cloud.githubusercontent.com/assets/10051544/21447171/d2d96d1e-c89e-11e6-9446-a2b2ab40efd9.png)

[2016-12-23 04:32] jpailthorpe commented on #4
or maybe it is just hovering a bit too low, which is why it is bothering me.

[2016-12-23 04:35] jpailthorpe commented on #4
the back button is also floating in a weird spot which overlaps content

[2016-12-23 04:42] jpailthorpe opened #5 "Toolkit_MVP PDF print: When saving/printing as a pdf, each activity is starting at a new page, but will cut off content that doesn't fit into one page."
I like the fact that a new activity always starts at the top of a new page, but we can't have content be cutting off.

![screen shot 2016-12-22 at 11 46 21 pm](https://cloud.githubusercontent.com/assets/10051544/21447264/41b221e4-c8a0-11e6-9b90-f48f26cdec3a.png)

[2017-01-02 17:11] MarianoMiguel commented on #3
Got it. I just put together a couple responsive classes for our .wrapper, so now instead of just having size variants like .wrapper--large, we have size variants across breakpoints, so we can do .wrapper (normal wrapper on mobile) .wrapper--large@medium (large wrapper on tablets + up)

[2017-01-02 17:25] #2 closed

[2017-01-02 17:25] MarianoMiguel commented on #2
Agreed. I'm making it 100% since it's probably the best option in terms of a11y

[2017-01-02 18:34] MarianoMiguel commented on #4
I'm making it so that the button is fixed to the bottom of the viewport on mobile devices

![kapture 2017-01-02 at 15 12 26](https://cloud.githubusercontent.com/assets/880223/21594399/dbdec8fe-d100-11e6-96df-488f8ee18bbb.gif)

[2017-01-03 17:12] jpailthorpe opened #6 "Guide_Page_Navigation(alldevices): Need each page of the guide to have a "forward/back" link to go on to the next page at top and bottom of content"
each guide page needs a next and back link to advance from one page to the next without having to use the sidebar nav. These should be near the top AS WELL AS the bottom and always just link to the next page in the order the guide is constructed. This is displayed in the mockup below.

I think its fine if we just hardcode the progression so that the forward link would just pull the next guide page

[2017-01-03 17:16] jpailthorpe opened #7 "Guide_Sidebar: guide page titles too long, causing them to wrap within the sidebar and being highly unreadable"
The sidebar nav in the guide page needs to address the longer section titles. adjusting the names are unfortunately off the table, so maybe making the sidebar a larger width would help? The titles in the sidebar are 100% set in stone.

I think it is totally fine if the sidebar takes up the entire screen, if easier to manage (like the fullnav functionality but with a side animation slide maybe?)

[2017-01-03 17:18] jpailthorpe opened #8 "Guide_Sidebar: Not all guide pages and sections are being listed in the sidebar, but are viewable live"
"Going places” section as well as the two subsections underneath it are not listed in the sidebar, but are on the site (in keystone). (how is the sidebar pulling titles?) There are two additional pages under going places fyi.

[2017-01-03 17:21] jpailthorpe commented on #4
great!

[2017-01-03 17:26] jpailthorpe opened #9 "Guide_homepage: Need to incorporate color into guide page. Not sure why it got removed"
as in mockup:

https://marvelapp.com/2gjiih4/screen/17893898

[2017-01-03 17:31] jpailthorpe opened #10 "guide_Page: include the share button on each guide page just like activity pages so users can share directly."
This is a nice to have. If we run through the rest, lets add. if not before Wednesday, I will unassign Mariano.

[2017-01-03 17:41] jpailthorpe opened #11 "Toolkit_MVPGrid: Need some UX onboarding to give users at least baseline direction on how to add/remove/print activities and how functionality works."
I noticed a significant UX problem now with the MVP grid when browsing and selecting. It is confusing to know what "putting an activity in your plan" does since there is no instructions, and clicking on the activity card simply dims it. It also assumes users simply understand what the "roadmap activities" sidebar is and how it works/what it does

I wonder if its easy to have a simple pop up the fi

[2017-01-03 17:45] jpailthorpe opened #12 "Toolkit_ActivityPage: Link URL that should send user directly to activity is instead linking to entire mvp grid"
when trying to link an activity (by selecting the copy link button) and pasting it in a new browser, the user is taken to the mvp grid instead, not directly opening the modal. The link when copied is the same url as the modal open, so there is a problem with triggering the opening of the modal?

[2017-01-03 17:48] jpailthorpe opened #13 "Toolkit_ActivityPage: Subtitle copy color is too dark"
The copy on the top of the activity header (top right) is super dark. Lets just make that white if we are keeping the gradient !

[2017-01-03 17:50] jpailthorpe opened #14 "Toolkit_ActivityPage: small CSS issue with titles of buttons sliding out of bottom of button"
the print and share buttons on the activity page sometimes slide out the bottom of their blue button containers when screen is ~mobile view

<img width="354" alt="screen shot 2017-01-03 at 12 53 52 pm" src="https://cloud.githubusercontent.com/assets/10051544/21617217/146d4ce2-d1b3-11e6-87c7-ca15e32dfbc8.png">

[2017-01-03 17:52] jpailthorpe opened #15 "Toolkit_MVPgrid: Color needed in background of sections to differentiate them(as seen in mockup)"
https://marvelapp.com/2gjiih4/screen/17893890

This also applies to the builder as noted in #26

[2017-01-03 18:04] jpailthorpe opened #16 "Toolkit_MVPGrid: Need section blurbs on the mvp grid under each title to explain the category of activities"
- each title needs a content blurb to explain each piece.  I know it will be edited a bit once stakeholders get a hold of it. I had them keep the character limit to 300 characters

If this breaks formatted too much or turns out to be too difficult based on mockup, we will need to rethink how this grid is displayed (perhaps not using a two column format and instead just simply doing everything as o

[2017-01-03 18:09] jpailthorpe opened #17 "Toolkit_Activitypage_mobile: Margins are much too wide on smaller mobile devices"
Just need to expand these out for screen sizes 320ish

<img width="297" alt="screen shot 2017-01-03 at 1 13 31 pm" src="https://cloud.githubusercontent.com/assets/10051544/21617794/d32533be-d1b5-11e6-8c3e-90d34488805b.png">

[2017-01-03 18:17] jpailthorpe opened #18 "About: Images are too large when screen is big compared to text sizing"
<img width="1551" alt="screen shot 2017-01-03 at 1 21 59 pm" src="https://cloud.githubusercontent.com/assets/10051544/21618029/ee0f53c0-d1b6-11e6-8d96-cc008cac7199.png">

[2017-01-03 18:19] jpailthorpe opened #19 "About: Partner section need to be at bottom of page."
I know it is a bit redundant with the footer, but it is something we need to have due to stakeholders. they are all loaded into keystone

Mockup:
https://marvelapp.com/2gjiih4/screen/17893891

[2017-01-03 18:21] jpailthorpe opened #20 "Homepage: New design needs to be implemented before end of week."
this is a big deal since I don't want to show stakeholders until this is integrated.

new homepage from stakeholders so would love to have that in there (the new blue map background design with the pencil/eraser/etc. tool images, as well as photos replacing map images in cards)

[2017-01-03 18:28] jpailthorpe opened #21 "Toolkit_MVPGrid: icon containers need to be sized to icon uploaded sizing."
<img width="619" alt="screen shot 2017-01-03 at 1 31 56 pm" src="https://cloud.githubusercontent.com/assets/10051544/21618344/7bdb16ac-d1b8-11e6-8c26-7ba1744098c4.png">

[2017-01-03 18:35] jpailthorpe opened #22 "CaseStudies_main: image size need to be adjusted to fit rather than scale into the container"

[2017-01-03 18:36] jpailthorpe opened #23 "CaseStudies_Casepage: each page still has dummy content. not pulling from keystone with all case study pages."
Again, Think we just need to connect the content to templates. Each link is correct, but all content is same.

[2017-01-03 18:38] jpailthorpe opened #24 "CaseStudy Page: Text on purple header background with icons is noisey"
I'm not sure the purple w/ black icon background header with the  appears super clearly now and kind of blends in, making the text noisy.

I wonder if there is a solution here that doesn't completely reject our style. Need Michael to come up with solution.

[2017-01-03 18:39] jpailthorpe opened #25 "GamePage: Field variables from keystone need to replace static content."
I can tackle this myself, but if its quick enough for you I would appreciate it.

[2017-01-03 18:42] jpailthorpe opened #26 "toolkit_Builder: Sections in builder should be color coded according to section."
Right now its all blue like the mvp grid. Lets make sure we get the color coordination intact to meet mockups.

[2017-01-03 18:45] jpailthorpe opened #27 "Toolkit_Builder: Update section titles in builder progress bar to reflect real section titles."
The older section titles are still within the process builder progress bar. need to reflect new ones.

Actually its just replacing "Implementation" with Putting it All Together

<img width="1036" alt="screen shot 2017-01-03 at 1 49 21 pm" src="https://cloud.githubusercontent.com/assets/10051544/21618825/db39de6a-d1ba-11e6-81a6-e5600540f557.png">

[2017-01-03 20:15] jpailthorpe opened #28 "Guide_home: the sidenav bar shouldn't dispaly on the guide home page and only when you start reading"
Also the contents of the guide pages are not loading within the sidebar on this page. They do load once you get into the article. I would rather have someone come to this guide home page and be drawn to the two primary actions (start reading) + (download) rather than confuse them with another action item.

[2017-01-03 21:42] jpailthorpe opened #29 "Headerbackground: need to replace header background with better icon design"
Now that we have that con background, it is a bit hard to read the nav link text since it is noisey. Not sure about what to do here other than add a background to nav items, maybe changing the color of the text itself?

[2017-01-03 22:38] jpailthorpe commented on #22
field is in place and content is pulling, but images are now stretching inside their containers to fit the box. I think this is a cloudinary thing

[2017-01-04 17:38] jpailthorpe opened #30 "Optimization: instead of uploading and routing images from a shared resource section, have all resources uploaded specifically to each page"
We will want to make sure that each page draws all its content from the the keystone model for that page, rather than pulling from another model. Basically this helps with clarity and ease of use for the end user who will be updating content.

This is low priority.

[2017-01-04 18:01] jpailthorpe opened #31 "Case Studies: When trying to click on a case study link, I keep getting a gateway error."
Any link on the case studies home page brings me to a gateway error. Might just be a routing /compiling issue?

[2017-01-04 18:09] jpailthorpe commented on #27
for consistency, it might be useful to have two lines for each label, breaking the label into two parts instead of having it all stretch across one line (esp. since Putting it All together is going to be quite weird from an aesthetic perspective as one line.

[2017-01-04 18:13] jpailthorpe commented on #21
The icons are currently 194x194. I could reupload them at 200x200 if need be, but It would be much quicker if we just changed the size in code.

[2017-01-04 18:20] jpailthorpe opened #32 "Toolkit_MVPGrid: Need to have titles match updated names on mvpgrid"
the title of each section are as follows: Getting Started, Project Planning, Putting It All Together, Iteration.

[2017-01-04 18:26] jpailthorpe commented on #20
https://marvelapp.com/2gjiih4/screen/17893897

[2017-01-04 19:22] #22 closed

[2017-01-04 19:22] #23 closed

[2017-01-04 19:22] #25 closed

[2017-01-04 19:22] #31 closed

[2017-01-04 19:31] MarianoMiguel commented on #28
Ah yes, they are not displaying cause this page was probably not given access to the list of articles (basically a back-end - front-end connection issue). Anyway, I think it makes sense. I'm removing it for now.

[2017-01-04 19:31] #28 closed

[2017-01-04 19:34] MarianoMiguel commented on #3
This one is fixed. We can re-open if the issue appears somewhere else, but the class structure to solve it has already been created :)

[2017-01-04 19:34] #3 closed

[2017-01-04 19:35] MarianoMiguel commented on #20
Going to give priority to this one

[2017-01-04 19:36] MarianoMiguel commented on #1
Solved

[2017-01-04 19:36] #1 closed

[2017-01-04 19:37] jpailthorpe opened #33 "About Page: Need an image field under byline on about page"

[2017-01-04 19:42] jpailthorpe opened #34 "Global: Need a place somewhere in the site that allows users to contact us for a workshop"
This is something I am trying to have done in the next day or so to pitch and dev. Most likely will just be a text field.

[2017-01-04 19:43] MarianoMiguel commented on #29
@jpailthorpe I think it would be useful to involve Michael in the discussion since it's more design related

[2017-01-04 19:45] MarianoMiguel commented on #4
Closing it for now. We can re-visit if Michael comes up with a better solution or any tweaks

[2017-01-04 19:45] #4 closed

[2017-01-04 19:45] jpailthorpe commented on #29
@MarianoMiguel Agreed. i moved this to the next milestone to give a bit more time

[2017-01-04 20:38] jpailthorpe opened #35 "Activitypages: upload and include images for each activity under project planning."
I might need to replace all these images to make sure they don't format weirdly on dif. screen sizes. Might need to remove them alltogether.

But here is the folder https://drive.google.com/open?id=0B7NnC_heRbOhZkdWNG04RVZlajA

The problem is we do not have higher res photos so they may look really bad. Lets experiment with one of them and if it just isn't working for us with the current frontend

[2017-01-04 20:57] jpailthorpe opened #36 "Guide: Executive Summary should be listed as the first page in the guide in the sidenav (before introduction)"
If keystone, Mariano feel free to remove yourself and assign johnny.

This is a bit confusing perhaps, but introduction actually comes after executive summary. in the side nav, they are listed in the wrong order. when reading the guide itself, they appear in the correct order. Not sure if this is a template thing or keystone thing.

![screen shot 2017-01-04 at 3 59 37 pm](https://cloud.githubuserc

[2017-01-04 20:59] jpailthorpe opened #37 "Home Page: Get Started button should just anchor link to the toolkit card, rather than link to the toolkit page(PM request)"

[2017-01-04 21:01] #19 closed

[2017-01-04 21:01] #33 closed

[2017-01-04 21:13] jpailthorpe opened #38 "home page: create second link + additional keystone field to edit name of the second link on the toolkit card to match the newer mockup"
There will be two sep. links on the toolkit card. ONe will take you to the builder, the other will take you to browse and select activities. These should both be accessible on the toolkit card itself. We will still link folks to the "toolkit splash page" by clicking on the Toolkit item in the main nav.

Let me know if this conflicts with something we already agreed upon, as I recall talking about

[2017-01-04 21:36] #38 closed

[2017-01-05 17:49] jpailthorpe opened #39 "CaseStudyPage: When adding a new modality to a case study, it appears as a huge block of text rather than the icon for that modality as per mockup"
Lets make sure this matches the mockup. This is how it currently appears on site:

![screen shot 2017-01-05 at 12 52 15 pm](https://cloud.githubusercontent.com/assets/10051544/21691118/42864654-d345-11e6-80bb-6373203edd05.png)

Correct in mockup: https://marvelapp.com/2gjiih4/screen/17893893

[2017-01-05 17:59] jpailthorpe opened #40 "CaseStudiesHome: Images for case studies are in-properly scaling and warping, as well as appearing blown out"
*Assigning both @johnnycrich and @MarianoMiguel because i am not sure if this is cloudinary/keystone thing or a front css thing.*

Each image is of high res. and quality, so I am not sure why this is happening. I did some poking in the code and in cloudinary but can't seem to figure it out.

Basically just want the images to crop and scale properly in all screen sizes. This is also happening on th

[2017-01-05 18:06] jpailthorpe opened #41 "Gamepage: Images are cropped incorrectly and appearing as lower quality"
*Assigning both @johnnycrich and @MarianoMiguel because i am not sure if this is cloudinary/keystone thing or a front css thing.*

one idea that might be a quick fix is to change how these feature items respond when in mobile view. Maybe keeping the aspect ratio of the image and stacking it on top of the text field rather than stretching it to fit across and on top of the text?

![screen shot 2017

[2017-01-05 18:23] jpailthorpe opened #42 "CaseStudies Home: Text on image cards are difficult to read"
The white text on the images are hard to read. I think in Michael's mockup he has a gradient on the image to address this. I can upload images with gradients on them, but I think this might be better done in code.

If it isn't a gradient, we will need a solution here.

[2017-01-05 18:28] jpailthorpe opened #43 "Homepage: PM would like get started button to simply anchor link down to the first card (toolkit)"
Redirect get started button to anchor down to the card section.

[2017-01-05 18:47] #13 closed

[2017-01-05 18:47] #21 closed

[2017-01-05 19:06] jpailthorpe opened #44 "About page: Header images section + Image gallery needs style"
We included a header image to show off the cohort (this was not in michael's mock, but it is important to stakeholders). Just needs to have style.

The image gallery seems to have some hardcoded width+height dimensions, which need to be removed so that the image is responsive

[2017-01-05 19:10] jpailthorpe opened #45 "Header(ToolkitMVPgrid+Guide): On large screen dimensions (+2000 width) the header nav needs padding between main content"
Just too close to the content and looks funky

![screen shot 2017-01-05 at 2 12 30 pm](https://cloud.githubusercontent.com/assets/10051544/21693879/9e641540-d350-11e6-9c24-e1ef7d7b5ba0.png)

![screen shot 2017-01-05 at 2 12 12 pm](https://cloud.githubusercontent.com/assets/10051544/21693883/a271c3ee-d350-11e6-8614-21c7da68e113.png)

[2017-01-05 19:36] #17 closed

[2017-01-05 20:17] MarianoMiguel commented on #44
@jpailthorpe The styles for the header images are done, just a matter of adding the proper .s-gallery class to the container. Regarding the gallery images (which I assume you mean those 4 images next to each other), it's not a matter of hardcoded widths, but that there's only 1 image https://res.cloudinary.com/engagement-lab-home/image/upload/v1482431333/k3liuts0efpdvr3zq1cb.png

[2017-01-05 21:37] jpailthorpe opened #46 "Footer: icon links in footer don't link to URL in keystone, instead just send to top of same page you are viewing."
It is okay if its easier to just hardcode send these icons to these addresses, I just don't know how it is currently setup to change it in code.

Living Cities
livingcities.org

City Accelerator
http://www.governing.com/cityaccelerator

Engagement Lab
elab.emerson.edu

citi foundation
http://www.citigroup.com/citi/foundation/

[2017-01-05 22:03] jpailthorpe opened #47 "ActivityPage: section headers should be all uppercase"
I think we need a bit more padding between each section, as per mockup. Right now they are blending a bit together. just adding bottom margin with 1.5em between the layout  divs seems to do the trick, but might be a better solution.

![screen shot 2017-01-05 at 5 00 22 pm](https://cloud.githubusercontent.com/assets/10051544/21699026/d1a00452-d367-11e6-9630-aaee1cf73c53.png)

![screen shot 2017-01-

[2017-01-05 22:15] jpailthorpe opened #48 "Toolkit_Builder: If its not too much of a pain, can we remove the footer + sidebar from the builder screens? It creates a bit of a distraction and potentially interupts flow"
plus I think it would be really annoying to accidentally click an icon link. once the grid comes in, we can show both footer + sidebar.

![screen shot 2017-01-05 at 5 18 16 pm](https://cloud.githubusercontent.com/assets/10051544/21699544/455300c8-d36a-11e6-9e22-b73fa65664f8.png)

![screen shot 2017-01-05 at 5 17 49 pm](https://cloud.githubusercontent.com/assets/10051544/21699547/47cc07fa-d36a-11e6

[2017-01-05 22:20] jpailthorpe opened #49 "ToolkitMVPGrid: After you complete the builder, the back button + Progress bar is still there. Lets remove both once they get to the mvp grid."
Reason being is it is kind of annoying distracting, and if a person wants to add remove from their mvp, they do it directly on this screen. The progress bar also can somtimes be confused as a navigation tool to go back through the builder (saw a couple people internally try to click on it). This way we streamline the ux and decreases clutter on screen.
![screen shot 2017-01-05 at 5 21 25 pm](https

[2017-01-05 22:39] jpailthorpe commented on #43
dup. my bad

[2017-01-05 22:39] #43 closed

[2017-01-05 22:41] jpailthorpe commented on #18
dup + fixed

[2017-01-05 22:41] #18 closed

[2017-01-05 22:42] jpailthorpe commented on #37
fixed

[2017-01-05 22:42] #37 closed

[2017-01-05 22:56] jpailthorpe commented on #44
yeah this was a cloudinary thing. all good now!

[2017-01-05 22:56] #44 closed

[2017-01-05 23:04] jpailthorpe commented on #5
It looks much better and all content is at least visible so we are def. out of critical water. But I will keep this open until you feel comfortable with it.

[2017-01-05 23:10] jpailthorpe opened #50 "Guide pages: Need to add "things to think about" to each guide section as well as images"
This is a content thing in keystone.

[2017-01-05 23:11] jpailthorpe opened #51 "Case Study pages: Need to add images in each case study narrative"
this is a content thing in keystone.

[2017-01-06 14:45] #7 closed

[2017-01-06 15:20] #32 closed

[2017-01-06 15:40] MarianoMiguel commented on #8
@jpailthorpe Apparently the method for pulling the links is a bit manual in that you have to define which sections to pull. e.g:

[code]

So, I can try to put that section in assuming the keystone naming will be similar to what we already have i.e "goingPlaces". In terms of order, where should this section be placed?

[2017-01-06 16:11] jpailthorpe commented on #8
@MarianoMiguel going places is the last section of the guide (same hierarchy level as Calibrating, etc.) and "additional engagement modalities" is a section page under going places

GOING PLACES
     Additional Engagement Modalities.

[2017-01-06 16:11] jpailthorpe commented on #8
Feel free to reassign to @johnnycrich Johnny if there is keystone confusion

[2017-01-06 16:20] MarianoMiguel commented on #8
@johnnycrich Just added the going places section into the guide sidebar (each goingGuides...etc). I'm not sure if there's anything else necessary for it to work, so I'm reassigning to you just in case.

[2017-01-06 16:32] jpailthorpe commented on #5
trying to get a sense of where we are at holistically. based on some tests it seems like you addressed this issue (where content was cutting off when trying to print) and now each activity just page breaks at the end, which is what we wanted.

In your commit you noted you are still working on this. Is there another issue I am not finding? @MarianoMiguel

[2017-01-06 18:58] #15 closed

[2017-01-06 19:02] #12 closed

[2017-01-06 19:04] MarianoMiguel commented on #5
@jpailthorpe I've found that sometimes text gets cut off between pages & small inconsistencies like that. I think the most urgent matter was solved, but I'm still trying to polish it out a bit more

[2017-01-06 21:01] MarianoMiguel commented on #6
@jpailthorpe @johnnycrich Having trouble running /guide locally but this should work/look as per the mockups. What I'm going to need from you guys, is that you take a look at the `partials/articleNav.hbs` file and replace the placeholder content (# link, "Page Title" anchor) with the the actual previous/next links and title variables from Keystone.

[2017-01-06 21:07] jpailthorpe commented on #6
@MarianoMiguel great np. I reassigned to me for this issue then, and if running into problems will make a new issue and ref. this one.

[2017-01-06 21:42] MarianoMiguel commented on #40
@jpailthorpe I see the issue in #41 but I'm not being able to identify this one. Could you take a screenshot of what's wrong?

[2017-01-06 21:49] jpailthorpe commented on #40
I think its better to see how the original image looks compared to how it is looking in the containers on the site. It is stretching with the containers. Maybe we just need to have the images sized appropriately with the containers and have multiple images for each container transform? Idk if thats overkill or if there is a better way to do this.

![screen shot 2017-01-06 at 4 52 30 pm](https://cl

[2017-01-06 22:08] jpailthorpe commented on #6
Reassign to @johnnycrich since it is a bit more complicated than i thought

[2017-01-06 22:16] MarianoMiguel commented on #40
@jpailthorpe Ah, I see now. Thanks! :)

[2017-01-06 23:11] jpailthorpe commented on #8
Looks like that last commit fixed everything. closing for now!

[2017-01-06 23:11] #8 closed

[2017-01-09 15:05] MarianoMiguel commented on #41
@jpailthorpe Working on this. Will probably have some news by tonight / tomorrow. I'm trying to find a way of scaling the images that works well w/ every device, and that can handle anything that we throw at it (we need to be able to re-use the component in other places)

[2017-01-09 16:36] esalling23 commented on #6
@MarianoMiguel @jpailthorpe @johnnycrich the /guide page requires a GuideHome model to be made in Keystone, which is why its working fine on QA! Just for future reference!

[2017-01-09 17:32] johnnycrich commented on #41
The case study images now use 'thumb' cropping to fix issue with image mis-sizing.

[2017-01-09 17:43] esalling23 commented on #6
I just pushed the fix for this!

[2017-01-09 18:04] esalling23 commented on #36
This (I think) is because the guide initially links to the Executive Summary page, even though the Introduction is listed as being first. I have updated the models to be drag-and-drop sortable in keystone, so the Introduction guide page can simply be dragged to be before the Executive Summary. (The "first" item would be at the bottom of the list in Keystone)

[2017-01-10 00:45] jpailthorpe opened #52 "Global: Change header images to mockups, nix icon design"
I'm not sure if this is something that is also reliant on cloudinary settings.

Johnny/Erica, wanna take a look before Mariano just to make sure?

[2017-01-10 16:07] esalling23 opened #53 "Toolkit-Builder: Side menu shows no activities, but will print the ones previously chosen"
I go through the builder, choosing activities and printing etc.
I go back to the beginning of the builder, and click the Roadmap Activities side menu (there are no activities listed).
I click "Print Roadmap" and it remembers all previous activities I had chosen, despite having the side menu be empty.

[2017-01-10 16:10] jpailthorpe commented on #53
@esalling23 In one of the new fixes we will be removing the sidebar from the builder itself entirely, since we don't want users distracted from the main flow. So I THINK this is a nonissue?

[2017-01-10 16:11] esalling23 commented on #53
@jpailthorpe That would make this a nonissue, tho I did like being able to see what I had picked while still moving through the toolkit builder!

[2017-01-10 16:14] jpailthorpe commented on #53
@esalling23 my rationale is distraction mostly and secondly users misunderstanding that feedback/trying to make mental connections between question and activity (we are trying to keep that a bit more "behind the scenes" so users dont explictly know it is question:activity 1:1) makes it a bit more magical

[2017-01-10 17:22] jpailthorpe opened #54 "Global: when pasting a link from the site into facebook/slack/etc, the preview shows as Uncertainty dictionary. Instead, it should be a direct preview of the page being linked."
<img width="423" alt="screen shot 2017-01-10 at 12 27 20 pm" src="https://cloud.githubusercontent.com/assets/10051544/21816804/6d6e3ec4-d72f-11e6-8e09-4e6ee44456a4.png">

[2017-01-10 17:28] esalling23 commented on #54
The Uncertainty Dictionary is not listed in any of our files, other than in reference to a sublime project that no longer exists (in config.codekit3) -- This may be a cache issue?

[2017-01-10 17:31] jpailthorpe opened #55 "Toolkit: When trying to print just one activity via the print button in the top right, the content gets cut off after page 1"
![screen shot 2017-01-10 at 12 36 11 pm](https://cloud.githubusercontent.com/assets/10051544/21817111/b10244cc-d730-11e6-8365-de7d3a3ed505.png)

[2017-01-10 17:42] #34 closed

[2017-01-10 17:45] jpailthorpe commented on #35
Assigning to @mattwbenson to tackle when he gets back. You might need to re-create any tables/images and export properly. All of these are screenshots I took out of the google doc, but they are not going to cut it.

[2017-01-10 17:49] jpailthorpe commented on #51
You will need to upload these to cloudinary and then use the given url to embed the IMG in the markdown field manually. The images you want are in the guide. Use the indesign file and select a few images that look good and paste them between /at top of paragraphs. Just 1 or 2 maximum, but use your own judgement.

[2017-01-10 17:57] jpailthorpe commented on #46
fixed by 096eae5a61198db9ac6822a47d8bbdf417849cd1 [096eae5]

[2017-01-10 17:57] #46 closed

[2017-01-10 18:01] jpailthorpe opened #56 "Guide: Last page in guide "Additional Engagement Modalities" has a next link to a random page in the middle of the guide. There should be no Next link on this page."
![screen shot 2017-01-10 at 1 05 29 pm](https://cloud.githubusercontent.com/assets/10051544/21818202/e88b342c-d734-11e6-9db1-a55c8db4fe75.png)

[2017-01-10 18:02] jpailthorpe commented on #6
confirmed fix

[2017-01-10 18:02] #6 closed

[2017-01-10 18:02] jpailthorpe commented on #36
confirmed fix!

[2017-01-10 18:02] #36 closed

[2017-01-10 18:07] jpailthorpe commented on #55
I think this is slightly different than whats happening when you print multiple activities in the roadmap as ref. in #5

[2017-01-10 18:23] jpailthorpe commented on #10
This is dumb. I am closing it.

[2017-01-10 18:23] #10 closed

[2017-01-10 22:27] jpailthorpe commented on #40
2560 ✖ 3484
![case studies](https://cloud.githubusercontent.com/assets/10051544/21827456/aa251980-d759-11e6-8fec-14b790f59a1e.png)

[2017-01-10 22:28] jpailthorpe commented on #40
you can see that the images are still stretching

[2017-01-10 22:39] jpailthorpe commented on #40
Last image didn't include the latest commmit, but there is now a problem with text overlap +sizing.

![screenshot-qa cityaccelerator net-2017-01-10-17-43-48](https://cloud.githubusercontent.com/assets/10051544/21827910/b1df658e-d75b-11e6-9b53-443f79adb687.png)
this is how it looks on browser windows 2000+ now.

[2017-01-11 16:19] esalling23 opened #57 "Toolkit-Builder: Next buttons cut off at large screens"
<img width="896" alt="screen shot 2017-01-11 at 11 15 35 am" src="https://cloud.githubusercontent.com/assets/11821504/21856373/ca44c4d6-d7ef-11e6-96cd-b3f2fd6cd00a.png">
Tested at 2560px - 1980px width

[2017-01-11 16:28] esalling23 opened #58 "Frontpage - Text under header is too small on larger screens"
<img width="1150" alt="screen shot 2017-01-11 at 11 26 48 am" src="https://cloud.githubusercontent.com/assets/11821504/21856734/073b4a44-d7f1-11e6-9fb9-7ac73418b04e.png">
Text could be a little larger starting at 1440px width screens

[2017-01-11 16:50] esalling23 opened #59 "Navigation 'menu' button outline"
<img width="157" alt="screen shot 2017-01-11 at 11 45 24 am" src="https://cloud.githubusercontent.com/assets/11821504/21857470/8b5ea436-d7f3-11e6-8856-c70364fa7d46.png"><img width="157" alt="screen shot 2017-01-11 at 11 49 23 am" src="https://cloud.githubusercontent.com/assets/11821504/21857609/049c54ce-d7f4-11e6-950a-d51bb4dc2916.png">
Small css issue - clicking on menu button leaves behind outli

[2017-01-11 16:54] esalling23 opened #60 "Mobile screen brand logo top padding"
<img width="333" alt="screen shot 2017-01-11 at 11 52 18 am" src="https://cloud.githubusercontent.com/assets/11821504/21857761/9beab06e-d7f4-11e6-8bdc-96e6dd55cf9a.png">
Could use a bit more padding above the "Public Engagement Roadmap" logo

[2017-01-11 17:01] esalling23 opened #61 "CaseStudies: Some pictures make white text hard to see"
<img width="300" alt="screen shot 2017-01-11 at 11 57 57 am" src="https://cloud.githubusercontent.com/assets/11821504/21857940/4109b57c-d7f5-11e6-908d-88c79db66751.png"><img width="270" alt="screen shot 2017-01-11 at 12 00 24 pm" src="https://cloud.githubusercontent.com/assets/11821504/21858032/8f5c2da4-d7f5-11e6-84b9-3346dadac629.png">
None of the pictures are perfect, each is a little hard to re

[2017-01-11 17:06] esalling23 opened #62 "Universal: Hover and click indicators"
This is just an enhancement idea, to add hover or click indicators wherever they make sense throughout the site (buttons, menu links, etc)

[2017-01-11 18:46] MarianoMiguel commented on #40
@jpailthorpe I'll be pushing an update soon that should solve this

[2017-01-11 19:00] MarianoMiguel commented on #41
@jpailthorpe Images are appearing as low quality because they are (we are pulling 200px width images from Cloudinary, so we probably should up that resolution a bit).

The problem with the scaling and warping in this case, is that there are so many factors to consider (content length, image aspect ratio, etc) that it becomes practically impossible to deliver a consistent content & image size for e

[2017-01-11 19:22] esalling23 commented on #52
This is due to a setting of 1000px width that is set on the front-end when the image is loaded on the page. I have changed it to 800px, but in general this could be changed by simply updating the width set on the about.hbs view

[2017-01-11 19:38] #61 closed

[2017-01-11 20:10] jpailthorpe commented on #41
@MarianoMiguel Thanks for the detailed update! I think this is detailed enough with soloid direction that we can take any edits on this subject across the site from here. I am going to unassign you but keep this open to remind myself to address it next week

[2017-01-13 15:57] johnnycrich commented on #20
@jpailthorpe where can the assets for the sticky notes be found, and what do they do?

[2017-01-13 15:58] esalling23 commented on #42
@jpailthorpe Do we have a designed solution for this?

[2017-01-13 17:04] esalling23 commented on #57
No longer able to reproduce this, but looks like in general the design is not responsive at large screen sizes
<img width="1140" alt="screen shot 2017-01-13 at 12 03 07 pm" src="https://cloud.githubusercontent.com/assets/11821504/21938211/6054612c-d988-11e6-82d1-e79b2ae5cb2b.png">

[2017-01-13 17:46] esalling23 opened #63 "Create breakpoints and implement responsiveness at screen sizes 2456px+"
Currently the last breakpoint is at 2000px, and many screens do not handle anything larger than 1440px very well, as can be seen in the Toolkit Builder below
<img width="1140" alt="screen shot 2017-01-13 at 12 03 07 pm" src="https://cloud.githubusercontent.com/assets/11821504/21939536/37637e50-d98e-11e6-95c5-0840ff36e427.png">

[2017-01-13 17:50] esalling23 commented on #42
@jpailthorpe Looks like a design solution was implemented, now this needs review to confirm that solution works!

[2017-01-13 18:06] #53 closed

[2017-01-13 19:17] esalling23 opened #64 "Print button on MVP screen has a lot of padding on small screens, but fits into the corner on large screens"
@jpailthorpe Just making sure this was done on purpose and matches design, since it looks like a bug.

On small screens:
<img width="782" alt="screen shot 2017-01-13 at 2 12 46 pm" src="https://cloud.githubusercontent.com/assets/11821504/21942353/bd896d58-d99a-11e6-94ea-369de8ddf434.png">

On large screens:
<img width="314" alt="screen shot 2017-01-13 at 2 16 29 pm" src="https://cloud.githubuserco

[2017-01-17 15:54] jpailthorpe commented on #39
This might be just a routing issue in keystone, but this issue refers to "modalities explored" section showing icons associated with activity, not the activity title itself. These should also be links back to that activity.

[2017-01-17 16:01] jpailthorpe commented on #48
sorry, this didn't explicitly mention the sidebar tab too. see screenshot

[2017-01-17 17:13] jpailthorpe opened #65 "NAV: "Public Engagement Roadmap" text is not responsive, appearing very small on large screens"
simple solution, but if it is helpful to have specific font sizes at specific breakpoints, please let me know.

As a general rule, we should always use the following industry standard breakpoints:

320(mobile)
768(tablet)
1440(average desktop size)
1920(Large Desktop)

moving forward we plan to have mockups in all of these sizes for all digital products. This will help alleviate these issues in th

[2017-01-17 17:40] jpailthorpe opened #66 "ToolkitBuilder Questions Content: all text in toolkit process builder (now known as the pre-screen questionnaire) is hardcoded. Lets make the following copy changes"
“Have you created a logic model, or any other project planning document with identified project milestones?” should be changed to, “Have you created a logic model, or any other project planning and evaluation tool?”

“Do you know how you’re going to update your community during the project?” should be changed to “Do you know how you’re going to provide updates to the public during and after the pr

[2017-01-17 17:45] jpailthorpe opened #67 "CasestudyPage: Header text should not be the same size as body, since it pushes entire page down on large screen sizes."
![screen shot 2017-01-17 at 12 49 52 pm](https://cloud.githubusercontent.com/assets/10051544/22032555/cd5d67b4-dcb2-11e6-8e53-94b402814105.png)

[2017-01-17 17:58] jpailthorpe opened #68 "ToolkitHome: Make icon background only fill the top header like other pages across site"
Here is an example.

![qa cityaccelerator net-toolkit](https://cloud.githubusercontent.com/assets/10051544/22032945/8ac8980e-dcb4-11e6-8ba3-178f8bfbd860.png)
![qa cityaccelerator net-about](https://cloud.githubusercontent.com/assets/10051544/22032950/8c754c42-dcb4-11e6-91b6-568052d1e911.png)

[2017-01-17 17:58] jpailthorpe commented on #68
The quickest solution is to just make sure the container for the icon background is limited to the top of the page like others. I think this is more a bug/oversight than a design change.

[2017-01-17 21:06] jpailthorpe commented on #67
We are going to do some design tweaks and changes on this, so I am assigning myself for intial mock.

[2017-01-17 21:45] jpailthorpe opened #69 "Activity-Content: Remove all images with text across each activity"
If you login to cloudinary, you can easily see all the tables that need to be made+exported. how you do this is up to you, but we basically need these as higher res pngs rather than the super low res screenshots I have as placeholders. These then need to be re-uploaded to cloudinary and then replaced in keystone within each markdown field on each activity.

https://cloudinary.com/console/media_lib

[2017-01-17 21:46] jpailthorpe commented on #69
for an example, when i say activity, this is what i am talking about:

https://qa.cityaccelerator.net/toolkit-builder#step=1.3

[2017-01-17 21:47] jpailthorpe commented on #11
on ice

[2017-01-17 21:51] jpailthorpe opened #70 "Homepage: Incorporate PER logo into design."
Will do first draft then consult with Aidan.

https://drive.google.com/open?id=0B2iJJeD7RJtgWFJLUGx1YlA4Z28

[2017-01-17 21:55] jpailthorpe opened #71 "Homepage-footer: Redesign of footer"
- [x] Remove sentence
- [x] Make logos white with color fill, not saturated
- [x] incorporate CC logo
- [x] copy edit contact us sentence

[2017-01-17 21:55] jpailthorpe commented on #71
Jordan hits first draft then aidan approval

[2017-01-17 22:05] jpailthorpe opened #72 "Case study: Need to add city team photo at top of each case study."
https://drive.google.com/open?id=0B7NnC_heRbOhczhycUNBV3pwUms

Each case study (each city) has a team photo. Need to include these at the top of each page, but holding on this until we redesign the case study page to address feedback:

[2017-01-17 22:07] jpailthorpe opened #73 "Activity-Putting it all together: Need to add engagement roadmap asset to activity page"
https://drive.google.com/open?id=0B2iJJeD7RJtgVld6Y25MXzhOdjQ

[2017-01-17 22:14] jpailthorpe opened #74 "CaseStudiesHome: Order cities into alphabetical order"
Not sure if this is done through making the model re-organizable, but putting the case studies in order in keystone right now does not reflect how they appear on front.

If this is not a super quick fix (less than 10 min), comment why and ice.

[2017-01-17 22:20] jpailthorpe commented on #58
Not sure what happened, but now the text is not responsive across the site. Might just be lack of knowledge with how Mariano has setup his css classes. If so, feel free to ping him for information.

This is the highest priority

[2017-01-17 22:29] jpailthorpe commented on #64
The print button should be removed on screens lower than the 800px breakpoint. Since the sidebar button floats to the bottom and printing can be accessed through there, it is much cleaner.

The way it works on other screens is fine, even with dif. sizing.

[2017-01-17 22:31] jpailthorpe commented on #60
seems fixed to me!

[2017-01-17 22:31] #60 closed

[2017-01-17 22:40] jpailthorpe opened #75 "ActivityPage: Remove the "goal question" in header of activity"
The way the model is setup seems to be pulling the header text from the question, which is also used for process builder. I simply would like there to be NO additional text in the header. Most likely just requires editing the template. Just make sure the text for the question does not get removed in the builder or grid cards.

![qa cityaccelerator net-toolkit-builder](https://cloud.githubuserconte

[2017-01-17 22:47] jpailthorpe opened #76 "Casestudypages: Would be great to have a way to navigate between case studies easily, without having to use nav item or back button"
Ideally I would love for these to operate like modals, similar to the activities, with a close button top left (same asset) and animation open from bottom(same as activity). Yet I don't know if this is too much work or complicated or impossible. If can't be completed under an hour or find additional complexities I am missing, comment and ice.

[2017-01-17 22:48] jpailthorpe commented on #76
having a "next" link is also an option, but a little janky, and I am not too into into the idea.

[2017-01-17 22:49] jpailthorpe commented on #57
This seems to be fixed in the builder, but I did notice this happening on the mvp grid at the bottom section. Can you take another pass through and check/fix?

[2017-01-17 22:50] jpailthorpe commented on #62
def. I think links should be colored + dif. style to offset across site.
![eme-about-1219-ms](https://cloud.githubusercontent.com/assets/10051544/22043408/77cc6f86-dcdd-11e6-911d-e0e7986d069a.png)

[2017-01-17 22:52] jpailthorpe commented on #52
I am going to review this page. We might change back the headers to not use the icon grid and instead use the original photos as in mockups. If so, this image will be removed anyway.

[2017-01-17 22:53] jpailthorpe commented on #49
fixed!

[2017-01-17 22:53] #49 closed

[2017-01-17 23:08] jpailthorpe commented on #39
Lets try to get close to mockup regarding modalities

![eme-casestudyindividual-1219-ms](https://cloud.githubusercontent.com/assets/10051544/22043899/daa84dc6-dcdf-11e6-8e19-02d468ff7c98.png)

[2017-01-17 23:09] jpailthorpe commented on #76
the other option is to use the sidebar tab and have it act just as a back button, responding the same way it does in the toolkit when screen size shrinks.
![eme-casestudyindividual-1219-ms](https://cloud.githubusercontent.com/assets/10051544/22043937/0bc8ccb4-dce0-11e6-9cdb-b20222b31776.png)

[2017-01-17 23:10] jpailthorpe commented on #51
hold on this until I do a new design draft.

[2017-01-17 23:11] jpailthorpe commented on #63
I will review

[2017-01-17 23:12] jpailthorpe commented on #59
fixed

[2017-01-17 23:12] #59 closed

[2017-01-17 23:14] jpailthorpe commented on #56
fixed

[2017-01-17 23:14] #56 closed

[2017-01-17 23:16] jpailthorpe commented on #48
fixed

[2017-01-17 23:16] #48 closed

[2017-01-18 02:05] jpailthorpe opened #77 "Guide+Activitypages: Sidebar when collapsed at bottom of screen becomes hard to find for new users, needs color change"
I have tested with a few people and they all have a hard time trying to find the menu when collapsed. I think a simple bold color change will fix this. Lets go with the same color as the print + share buttons (the dark blue) to indicate click-ability

![q](https://cloud.githubusercontent.com/assets/10051544/22048061/ae65b2b2-dcf8-11e6-9be7-df52c43b756d.png)

[2017-01-18 02:07] jpailthorpe opened #78 "Guide: Section pages need some additional design attention"
Not sure what it is, maybe just removing the top or bottom navs to keep only one set, but need to address the weird look of this page.

![qa cityaccelerator net-guide-calibrating-the-instruments 1](https://cloud.githubusercontent.com/assets/10051544/22048094/da697948-dcf8-11e6-9a64-7dafc7ce948e.png)

[2017-01-18 21:15] jpailthorpe opened #79 "GlobalHeader: Header sizing needs to shift in order to match mockup height+afford logo sizing"
I am pretty sure we just need to remove the padding here in the main css file for the main header div to get to be around 217px

[code]

and then change the nav wrapper from 5.625 to 8-9 to give at least a height of 150px for the nav wrap.

[code]

[2017-01-18 21:27] jpailthorpe commented on #65
fixed!

[2017-01-18 21:27] #65 closed

[2017-01-18 21:31] esalling23 commented on #66
@jpailthorpe These are the "Question" field on the activities, these are not hard coded!

https://qa.cityaccelerator.net/keystone/activities/585965d5ab140bbb1be16d01 this is the first one!

[2017-01-18 21:42] esalling23 commented on #75
@jpailthorpe no longer seeing this on that activity or any others! I think it was previously a content issue, since that text is pulling from the description, not the question, on the front-end (an activity's question was put down as its description, so the question showed up where the description should have)

[2017-01-18 21:47] jpailthorpe commented on #42
could be better, but usable. closing

[2017-01-18 21:47] #42 closed

[2017-01-18 21:50] esalling23 commented on #64
@jpailthorpe I can remove it when the sidebar appears at the bottom, but it still floats on larger screens, which I think looks weird when it could be settled into the corner perfectly

[2017-01-18 22:00] jpailthorpe opened #80 "ToolkitBuilder: Anchor back button to top under progress bar on screens smaller than tablet"
![qa cityaccelerator net-toolkit-builder 1](https://cloud.githubusercontent.com/assets/10051544/22084830/92e1c858-dd9f-11e6-8aca-a2b7df47502c.png)

[2017-01-18 22:00] jpailthorpe commented on #58
fixed

[2017-01-18 22:00] #58 closed

[2017-01-18 22:01] jpailthorpe commented on #16
fixed. looks great!

[2017-01-18 22:01] #16 closed

[2017-01-18 22:02] jpailthorpe commented on #14
fixed

[2017-01-18 22:02] #14 closed

[2017-01-18 22:03] jpailthorpe commented on #45
fixed, but do note that we are going to be changing the header size and nav site wide, so this may need adjustment possibly.

[2017-01-18 22:03] #45 closed

[2017-01-18 22:05] jpailthorpe commented on #54
Added metadata model to keystone. allows each page on the site (except for individual toolkit builder questions and activity modals) to have a completely sep. title and description when sharing on social media. This is the autogenerated thing that comes up when you post a link in facebook, slack, etc.

[2017-01-18 22:06] jpailthorpe commented on #54
@esalling23 Can you also add an image field to this model?

[2017-01-18 22:08] jpailthorpe commented on #47
spacing looks great. can you just make the titles all uppercase as per mock? (not the actual page mock but same styling.
![eme-casestudyindividual-1219-ms](https://cloud.githubusercontent.com/assets/10051544/22085125/bbdd72d8-dda0-11e6-9379-f85847d98f98.png)

[2017-01-18 22:09] #55 closed

[2017-01-18 22:09] #5 closed

[2017-01-18 22:14] jpailthorpe commented on #66
doh. im a dummy. fixed in keystone

[2017-01-18 22:14] #66 closed

[2017-01-18 22:15] #27 closed

[2017-01-18 22:15] #26 closed

[2017-01-18 22:15] #40 closed

[2017-01-18 22:21] jpailthorpe commented on #9
otherwise its just a white background. sad!

[2017-01-18 22:26] jpailthorpe commented on #9
#BBD8C6 is color

[2017-01-18 22:59] jpailthorpe opened #81 "Global-content: Need to update all copy across site (NOT including the GUIDE!!) to match the final locked google doc"
https://docs.google.com/document/d/1D5Y71YESYHt8ooX34VDygY6rBn36o2GbVBqwuwb-GQ4/edit?usp=sharing

This doc represents all final copy. Note that it might be helpful to look at revision history from jan 17 via becky to see what copy actually changed and where. This might be much quicker than going through every single keystone field and updating manually.

[2017-01-18 22:59] #30 closed

[2017-01-18 23:01] jpailthorpe opened #82 "Home: Replace background image with higher res png bigger than 1440"
waiting for the asset from michael

[2017-01-18 23:06] jpailthorpe commented on #77
132C78 is hex for color change

[2017-01-18 23:07] #67 closed

[2017-01-18 23:08] #24 closed

[2017-01-18 23:10] jpailthorpe commented on #20
considering final version finished and closing. Stakeholders did not find value or care in stickynote design, and though i think its neat, bigger fish to fry

[2017-01-18 23:10] #20 closed

[2017-01-18 23:11] jpailthorpe commented on #81
make sure you check in with Becky on this as she is point for copy.

[2017-01-18 23:14] jpailthorpe commented on #64
@esalling23 you are right. I think the reason this was designed this way originally was due to not knowing how much content would be on screen, and not having a sidebar at all. Since this has changed, I agree with your suggestion. Lets do that

[2017-01-18 23:15] jpailthorpe commented on #80
fixed, except needs padding on mobile, but erica knows about this and will finish tomorrow.

[2017-01-18 23:18] jpailthorpe opened #83 "About page: updates for contact + team credits"
About page
Add credits for names
Add contact info

[2017-01-18 23:19] jpailthorpe opened #84 "Home: Make get started button anchor link to the toolkit card on home page."
simple quick fix that will make many happy!

[2017-01-18 23:23] jpailthorpe commented on #75
fixed

[2017-01-18 23:23] #75 closed

[2017-01-19 18:59] jpailthorpe commented on #76
we are holding on this because i dont feel confident in the solution

[2017-01-19 19:01] jpailthorpe commented on #74
this will be a fast fix. on it

[2017-01-19 19:07] jpailthorpe commented on #62
note for this, lets focus on the links and the titles in program goals. making sure it matches font + size + style.

[2017-01-19 20:09] jpailthorpe opened #85 "Toolkit-grid: When you have no activities in your roadmap, text should appear that tells the user what to do. This is already in code, but not appearing properly on site."
See screenshot. Here I unchecked display none to show it appearing. Obviously this is not the solution since it remains even when there are activities in the sidebar, but wanted to show what i mean.

The reason I want this working is it offers us a way to help with UX without additional feature design.

![screen shot 2017-01-19 at 3 11 31 pm](https://cloud.githubusercontent.com/assets/10051544/221

[2017-01-19 20:17] jpailthorpe opened #86 "Toolkit: If a user has an activity modal open and then clicks an external link, upon hitting the back browser button they are taken to the start of the builder, not activity grid."
**This is only a problem if a user's setting is to open external links within the same tab/window.**

This is quite annoying and I assume will be a typical use case. I am okay that it doesn't go back to the open modal, though this would be ideal.

The bigger problem is that is goes to the builder process tool, which is really confusing to someone who might not have even entered that screen to begi

[2017-01-19 20:43] jpailthorpe opened #87 "guide: Nav link titles sometimes are clunky/large, esp. on mobile screens."
I am not sure of a solution for this, but messing around we could just remove the title of each guide section:

![qa cityaccelerator net-guide-executive-summary](https://cloud.githubusercontent.com/assets/10051544/22124336/6ff82b16-de5d-11e6-90fa-96957c12221a.png)

or the reverse, remove the next and back words and just use the arrows along with title:

![qa cityaccelerator net-guide-executive-sum

[2017-01-19 21:22] jpailthorpe opened #88 "Toolkit Process Builder: action box height being variable to content creates annoying user experience"
I would like to have the boxes on the builder tool set at a min height so the buttons don't continue to change positions between yes/no, and all content fits. The way I think we could accomplish this is determine what the maximum amount of space is needed out of all the content cards.  It creates a slightly annoying user experience, and was one of the bigger asks by stakeholders. I do agree it is

[2017-01-19 21:27] jpailthorpe opened #89 "Toolkit process builder: score screen gets cutoff on mobile devices lower than 425pxwidth"
![qa cityaccelerator net-toolkit-builder 2](https://cloud.githubusercontent.com/assets/10051544/22126056/1fdf74f2-de64-11e6-8c7b-56b6b083da41.png)

between 320-425 is where is cuts

[2017-01-20 18:45] msuen commented on #88
Agreed. This was the originally intended design (i.e. all cards have the same height), but I failed to communicate this, so I apologize.

[2017-01-20 18:51] msuen commented on #87
They provide context, which is why I like them. They do look clunky, though. My feeling is because some of the nav titles get a little long. That, paired with long page titles, does get messy. Perhaps we can set a max width on both the page title and the nav titles, so anything beyond that breaks into a second line — that way, they don't bleed into one another.

On mobile, we can remove the titles

[2017-01-20 18:59] msuen opened #90 "Footer: Tweak footer logo blending mode and opacity to keep color scheme on-brand"
Throw a mix-blend-mode: multiply and reduce the opacity to 0.3 on the footer logos. That way, the logo's colors fall more in line with the color scheme of the pages.

<img width="1104" alt="screen shot 2017-01-20 at 1 56 58 pm" src="https://cloud.githubusercontent.com/assets/2809369/22161441/55aa458a-df18-11e6-916f-301e0bf76cee.png">

[2017-01-20 20:30] msuen commented on #83
@jpailthorpe Can you elaborate? What information do you need me to add exactly?

[2017-01-20 20:34] msuen commented on #29
@jpailthorpe Let's tone the icons' opacity down, and bold the main nav links.

@MarianoMiguel, if you need the image again:

![ctcrepeat_clear640_360](https://cloud.githubusercontent.com/assets/2809369/22164569/caa7f780-df25-11e6-847e-b07ffa82d7cb.png)

[2017-01-20 20:34] MarianoMiguel commented on #86
@jpailthorpe This doesn't seem to be the case for me :( Upon opening any activity, the URL in your toolbar should update to something like https://qa.cityaccelerator.net/toolkit-builder#step=1.1

From there, if you click any external link and then go back, the URL should be back to https://qa.cityaccelerator.net/toolkit-builder#step=1.1

Is your toolbar URL being updated? Or does it stay at https:

[2017-01-20 20:35] esalling23 commented on #86
@MarianoMiguel It does return the player to the screen with the modal open, however it sends the player to the toolkit builder upon closing that modal, rather than to the MVP grid

[2017-01-20 20:36] MarianoMiguel commented on #86
@esalling23 Oh! Yeah that makes sense. Thanks :)

[2017-01-20 20:36] msuen commented on #41
@jpailthorpe Any updates on where you landed with this? I think Mariano's point is a good one, and that either high quality, ratio-friendly versions of the assets you're using or more decorative elements might just work better here.

[2017-01-20 20:36] msuen commented on #51
@jpailthorpe Need my input?

[2017-01-20 20:39] msuen commented on #52
@jpailthorpe I would recommend using the original photos, as per mockups. Case Studies might need a better image, and the Chart the Course photo is particularly low-res, but across the board I think they look nicer and provide relevant context.

[2017-01-20 20:45] MarianoMiguel commented on #88
@msuen @jpailthorpe Working on a solution for this one

[2017-01-20 20:46] msuen commented on #63
I would recommend not creating additional breakpoints —  the investment for design and development for such an edge case probably isn't worthwhile. Instead, we could (1) fix the diamond positioning in the progress bar, and (2) simply implement a max width on the card that is not a percentage.

[2017-01-20 20:52] msuen commented on #70
I took a stab — how does this look?
<img width="1424" alt="screen shot 2017-01-20 at 3 51 17 pm" src="https://cloud.githubusercontent.com/assets/2809369/22165168/6a52db72-df28-11e6-8efb-f81cf8ab4880.png">

[2017-01-20 20:53] msuen commented on #70
I took a stab. How does this look?

<img width="1425" alt="screen shot 2017-01-20 at 3 52 41 pm" src="https://cloud.githubusercontent.com/assets/2809369/22165179/8303d892-df28-11e6-8779-661dc683feac.png">

[2017-01-20 20:54] msuen commented on #71
See my take on logos here: #90

[2017-01-20 20:56] msuen commented on #78
@jpailthorpe How feasible is this in a one-day period alongside your other fixes, @MarianoMiguel? It's one set of nav links, but fixed on the page during your scroll down the content. So, once you scroll down and "Executive Summary / BACK" and "Defining Citizenship / NEXT" hits the top of the screen, it stays there all the way until you hit the bottom.

[2017-01-20 20:59] msuen commented on #79
@MarianoMiguel Can you increase the height of the global header/hero, so that it's more in line with the mockup?

**Mockup**
<img width="1423" alt="screen shot 2017-01-20 at 3 59 11 pm" src="https://cloud.githubusercontent.com/assets/2809369/22165367/69db6294-df29-11e6-8414-c5f31c38b523.png">

**Staging**
<img width="1439" alt="screen shot 2017-01-20 at 3 59 42 pm" src="https://cloud.githubusercon

[2017-01-20 21:06] msuen commented on #11
@jpailthorpe Totally. You might want to think about using a third-party plugin like http://introjs.com/ http://github.hubspot.com/shepherd/docs/welcome/ or http://linkedin.github.io/hopscotch/

@MarianoMiguel Do any of these look better to you?

[2017-01-20 21:22] msuen opened #91 "Tweak font sizes, letter spacing, and padding"
**.c-article__title**
letter-spacing: -1.5px

**.c-card__title**
letter-spacing: -1.25px

**.c-hero__title**
letter-spacing: -2px

**.c-hero__title** on Guide page
letter-spacing: -5px;

- Halis is entirely missing light font weight on the website.
- Increase padding-left and padding-right on all buttons

[2017-01-20 21:28] msuen opened #92 "Add gradients and drop shadows"
- Add box-shadow property of 0 7px 42px 0 rgba(0,0,0,0.23) to all buttons; increase all card box-shadow properties to same values
- Add linear gradients to all buttons. For turquoise: #00B5CB (bottom) to #62E2F2 (top); for blue: #24408E (bottom) to #36558E (top)

[2017-01-20 23:18] msuen commented on #85
@jpailthorpe Can you elaborate?

[2017-01-23 21:38] jpailthorpe commented on #89
![screen shot 2017-01-23 at 4 40 26 pm](https://cloud.githubusercontent.com/assets/10051544/22223753/0d28bd22-e18a-11e6-8d33-5128cffed665.png)

![screen shot 2017-01-23 at 4 40 19 pm](https://cloud.githubusercontent.com/assets/10051544/22223772/1296e7b6-e18a-11e6-8cd0-93596e6e3669.png)

still seeing this error on screen sizes smaller than 425. Iphone6 plus is fine, but anything lower cuts off.

[2017-01-23 21:39] jpailthorpe commented on #89
also checked code to make sure your commits are in the build and they are, so it must just be another issue.

[2017-01-23 21:40] jpailthorpe commented on #86
This is still happening (though admittedly, its a super not priority thing

[2017-01-23 21:41] jpailthorpe commented on #50
checked and verified that all guide pages have this section

[2017-01-23 21:45] jpailthorpe commented on #47
fixed+finished

[2017-01-23 21:45] #47 closed

[2017-01-23 21:45] jpailthorpe commented on #50
assigned @codeworthy for final copy review check

[2017-01-23 21:47] jpailthorpe commented on #85
fixed!

[2017-01-23 21:47] #85 closed

[2017-01-23 21:47] jpailthorpe commented on #68
fixed

[2017-01-23 21:47] #68 closed

[2017-01-23 21:47] jpailthorpe commented on #84
fixed!

[2017-01-23 21:47] #84 closed

[2017-01-23 21:53] MarianoMiguel commented on #89
@jpailthorpe I think the issue here is that style.css got probably overwritten by another commit. Let me re-compile it and push again and it should be fine.

[2017-01-23 22:18] jpailthorpe commented on #77
fixed!

[2017-01-23 22:18] #77 closed

[2017-01-23 22:19] jpailthorpe commented on #89
you are 100% correct. verified as fixed! thanks!

[2017-01-23 22:19] #89 closed

[2017-01-23 22:19] jpailthorpe commented on #86
same! fixed!

[2017-01-23 22:19] #86 closed

[2017-01-23 23:30] jpailthorpe commented on #82
fixed

[2017-01-23 23:30] #82 closed

[2017-01-24 00:10] jpailthorpe commented on #39
cleaned up best I could, and looks decent. closing for now

[2017-01-24 00:10] #39 closed

[2017-01-24 00:47] jpailthorpe commented on #74
fixed

[2017-01-24 00:47] #74 closed

[2017-01-24 00:49] jpailthorpe commented on #54
meta data model ready for content. FIXED!

[2017-01-24 00:49] #54 closed

[2017-01-24 00:49] jpailthorpe commented on #80
fixed

[2017-01-24 00:49] #80 closed

[2017-01-24 00:49] jpailthorpe commented on #64
fixed

[2017-01-24 00:49] #64 closed

[2017-01-24 00:50] jpailthorpe commented on #57
fixed

[2017-01-24 00:50] #57 closed

[2017-01-24 00:51] jpailthorpe commented on #9
fixed when css was recompiled

[2017-01-24 00:51] #9 closed

[2017-01-24 00:52] jpailthorpe commented on #73
quick upload, the map just needs to go into the https://qa.cityaccelerator.net/toolkit-builder#step=3.1

[2017-01-24 00:53] jpailthorpe commented on #69
the tables have all been remade and replaced except for the stakeholder persona one, which I can get to next week

[2017-01-24 00:55] jpailthorpe commented on #51
@msuen we good! Just going to keep it clean I think and only include team photos.

[2017-01-24 00:55] #51 closed

[2017-01-24 00:56] jpailthorpe commented on #35
this is priority @mattwbenson just fyi

[2017-01-24 00:56] jpailthorpe commented on #72
I just realized I need to edit these photos before uploading. I am reassigning to me

[2017-01-24 01:00] jpailthorpe commented on #52
@msuen agreed for sure, hitting that tomorrow.

[2017-01-24 01:02] jpailthorpe commented on #63
@msuen good point, and I think the site is better now that the css file was recompiled. I'm not sure how long we were seeing a dif. version.

I def. think implementing a max width on the card is important here though.

[2017-01-24 01:03] jpailthorpe commented on #63
this is rep. of #88 , closing here, follow progress there.

[2017-01-24 01:03] #63 closed

[2017-01-24 01:04] jpailthorpe commented on #87
I think this was fixed somewhere between last week and friday. They now stack vertically, which is good enough for me! closing

[2017-01-24 01:04] #87 closed

[2017-01-24 01:06] jpailthorpe commented on #78
@MarianoMiguel this is exactly what I think would be best, but of course then becoming fixed on mobile, right? We can also have Erica do this here.

[2017-01-24 01:08] jpailthorpe commented on #83
@msuen oops sorry! this is notes for me. I will do a draft and then show you for approval/ask for advice, but I will handle it (comes from stakeholders).

My question to you and @MarianoMiguel is do you want to be named in credits? and if so, Weirdo or individual names?

[2017-01-24 01:09] jpailthorpe commented on #41
@msuen will address either tomorrow or wednesday, but definitely taking that advice and running with it. will update when more info

[2017-01-24 01:10] jpailthorpe commented on #62
This looks good @esalling23. Lets now get the other links looking like this in other areas of the site if it isn't too much work.

[2017-01-24 01:11] jpailthorpe commented on #79
@msuen @MarianoMiguel if its not a pain, I would really appreciate it, since we are going to be integrating the per logo into the header.

[2017-01-24 01:12] jpailthorpe commented on #92
is this in? @msuen

[2017-01-24 01:12] jpailthorpe commented on #91
is this in? @msuen

[2017-01-24 01:13] jpailthorpe commented on #71
noted!

[2017-01-24 01:21] jpailthorpe opened #93 "MetaData: Need to add metadata images + content for every page in site in keystone"
This is for the link previews that generate in facebook, as well as what helps google cache dif. pages for better reach.

The most important thing is for the guide pages, toolkit, etc.

I think @codeworthy you should add this info. It is all in keystone,  so you just need to name the titles and descriptions and choose the image. You could also hand to @mattwbenson or @ritsukaBin  if you provide co

[2017-01-24 01:23] jpailthorpe opened #94 "about: reupload header image at higher res."
just need to export and reupload to keystone.

[2017-01-24 01:24] jpailthorpe opened #95 "Global: integrate google analytics into site"
@johnnycrich feel free to pass to @esalling23 if you'd like.

[2017-01-24 01:27] jpailthorpe opened #96 "CaseStudyPage: Make it so that the modality icons when clicked take you to the activity it represents"
Basically just want the icons to be links to the activity.

[2017-01-24 01:27] jpailthorpe commented on #96
![screen shot 2017-01-23 at 8 33 02 pm](https://cloud.githubusercontent.com/assets/10051544/22230222/59e77bce-e1aa-11e6-9a41-accd16664c49.png)

[2017-01-24 01:30] jpailthorpe opened #97 "nav: add PER logo in nav menu"
note for me to remember

[2017-01-24 01:58] msuen commented on #92
I don't think @MarianoMiguel has seen this?

[2017-01-24 01:58] msuen commented on #91
@MarianoMiguel please confirm!

[2017-01-24 15:24] MarianoMiguel commented on #91
@msuen Getting them all in. The one part I think can be a bit weird is the .c-hero__title and .c-hero__title on guide page part. Why is this required only over the guide page, and is it worth it to put together a new component variant e.g: .c-hero__title--spaced or something for that alone?

[2017-01-24 16:28] esalling23 commented on #96
Since the modals are opened from the MVP grid, relying on information in the MVP grid, it would be difficult to direct that same information to the case studies. We could create a new route for a single activity, the way that we do for each case study, and recreate the modal using that route and opening the modal on a new page. However, not sure at this time what the best solution would be for ope

[2017-01-24 16:46] esalling23 opened #98 "Move table of contents side bar down under next/back links"

[2017-01-24 16:58] jpailthorpe commented on #78
Erica is taking this on. We are basically going to have the links float, but only above the 1200 breakpoint. otherwise we run into the annoying thing where the links overlaps the text. under 1200 they nav links will just stay at the bottom of the article. We determined this to be the best solution because it 1. allows for the nav links to help flesh out the aesthetic look of the page on bigger scr

[2017-01-24 17:01] jpailthorpe commented on #92
also note that we changed the table of content color on the guide to match the color of the guide. This was due to it being white, which blended into the page to the point of confusion and difficult for users (in two tests it took over a minute for one person to find the table of contents). The color change fixed this, however, since it shares the same class with the table of contents on the toolk

[2017-01-24 17:04] jpailthorpe opened #99 "home page: link to all activites on toolkit card incorrectly is linked to the homepage. should be mvp grid"
make sure when clicking on "view all activities" it takes you to here
https://qa.cityaccelerator.net/toolkit-builder#step=grid

[2017-01-24 17:23] esalling23 commented on #99
cannot reproduce

[2017-01-24 18:55] ritsukaBin opened #100 "List of Inconsistencies between Guide page and pdf file"
- [Missing appendixes] In section *Executive Summary* and *Introduction* of the Guide page, "Appendix" is mentioned. But there is no appendixes in the online Guide.

- [Missing note] Note 12 in the pp23 of pdf file (Baldwin-Philippi, J., Gordon, E., Jacob, N., and C. Osgood. 2013. Design Action Research with Government: A guidebook. MacArthur Foundation Report.) is not presented in the correspondi

[2017-01-24 19:55] #98 closed

[2017-01-24 20:16] MarianoMiguel commented on #92
@jpailthorpe I think the most sensible thing to do here is to not modify the original table of content color, but to add a new variant of the component with the new color. That way we get to use (and re-use whenever needed) both the two variants wherever it makes sense

[2017-01-24 21:55] jpailthorpe commented on #73
done

[2017-01-24 21:55] #73 closed

[2017-01-24 21:55] jpailthorpe commented on #35
done

[2017-01-24 21:55] #35 closed

[2017-01-24 22:02] jpailthorpe commented on #70
HAHA, just saw your post @msuen.  I  came here to post my version of this, which is exactly the same as yours. So, yes. Assigning Erica. here.

<img width="974" alt="screen shot 2017-01-24 at 5 07 25 pm" src="https://cloud.githubusercontent.com/assets/10051544/22268798/d04e0b78-e256-11e6-9940-8ac3c1aebd52.png">

[2017-01-24 22:04] jpailthorpe commented on #69
There is still an issue with the tables being images and with text inside, distorts and messes up when constrained. I am going to move this to the icebox, since I don't want to expend any more time making these. We most likely will remove them

[2017-01-24 22:04] jpailthorpe commented on #96
noted

[2017-01-24 22:06] jpailthorpe commented on #70
Make sure @MarianoMiguel and @esalling23 you match up on this, since mariano is working on the size via #79

[2017-01-24 22:22] jpailthorpe commented on #52
In the interest of time, lets just remove the background icon image from the header:

`.c-article__header--bg-repeater {
  background-color: var(--secondary);
  ~background-image: url(../images/bg-repeater.png)~;`

<img width="1384" alt="screen shot 2017-01-24 at 5 27 31 pm" src="https://cloud.githubusercontent.com/assets/10051544/22269501/9c266d1a-e259-11e6-98c2-52b57c293e3a.png">

I think this l

[2017-01-24 22:23] jpailthorpe commented on #52
I would do it myself but I don't know the gulp stuff and don't want to break the css file :)

[2017-01-24 22:24] jpailthorpe commented on #29
This is an old DUP of #52 , so I am going to incorpoate the bolding of nav links (good idea) in the other issue, and closing this for now

[2017-01-24 22:24] #29 closed

[2017-01-24 22:27] jpailthorpe commented on #79
reminder that Erica is going to tackle #70 tomorrow

[2017-01-24 22:31] jpailthorpe commented on #97
nvm

[2017-01-24 22:31] #97 closed

[2017-01-24 22:34] MarianoMiguel commented on #91
@msuen Got Halis Light in. Should I default to it in most cases, or does it still make sense to leave the regular version as a default and use the light version in some places? (Gonna look up over the mockups to identify those places)

[2017-01-25 16:22] #90 closed

[2017-01-25 21:21] MarianoMiguel commented on #92
@msuen @jpailthorpe The linear gradients would take a bit more to get in. Here's why: Since we needed the site's UI to be themable (e.g: easily switching color schemes in the toolkit builder), I opted for a more flexible approach that involves CSS variables.

The way it works, is that we have a couple color variables (--primary, --secondary, etc), and we change the content of those variables depen

[2017-01-26 00:47] jpailthorpe commented on #71
done

[2017-01-26 00:47] #71 closed

[2017-01-26 00:48] jpailthorpe commented on #52
done

[2017-01-26 00:48] #52 closed

[2017-01-26 19:55] jpailthorpe commented on #94
done

[2017-01-26 19:55] #94 closed

[2017-01-26 19:55] jpailthorpe commented on #78
done!

[2017-01-26 19:55] #78 closed

[2017-01-26 19:56] jpailthorpe commented on #99
was removed in latest revision round, so no longer a thing

[2017-01-26 19:56] #99 closed

[2017-01-26 19:57] jpailthorpe commented on #70
finished!

[2017-01-26 19:57] #70 closed

[2017-01-26 19:58] jpailthorpe commented on #83
@codeworthy both credits and contact information is in Keystone ready for edits + entry. reassigning here.

[2017-01-26 20:01] jpailthorpe commented on #92
@MarianoMiguel not worth it to me, especially since there are very few buttons on the site in general. Thanks for the explanation though!!

[2017-01-26 20:01] #92 closed

[2017-01-26 20:02] jpailthorpe commented on #79
we got this in :)

[2017-01-26 20:02] #79 closed

[2017-01-26 20:02] jpailthorpe commented on #62
all set

[2017-01-26 20:02] #62 closed

[2017-01-26 20:06] jpailthorpe commented on #69
After trying to come up with a solution for this, there is really no way to effectively do what @codeworthy wanted, which was create visual references of tables within each activity. I plan on removing all "table" images across all activities, because right now they are effectively making each activity look really sloppy, esp. on mobile (which we imagine will be primary way people first look at th

[2017-01-26 21:50] jpailthorpe opened #101 "case studies: review modalities used and make sure to enable the correct ones for each city in keystone"
in keystone you just have to select which modalities are correct for each case study. I am pretty sure they are wrong right now, but should take you 15 minutes or so

[2017-01-26 21:51] jpailthorpe commented on #41
I ended up disabling the images on the cards in the template. I just wanted to get a viewable site ready for review for Eric. We will return to this in the future, closing for now!

[2017-01-26 21:51] #41 closed

[2017-01-26 21:51] jpailthorpe commented on #69
to be clear, this is just the tables and persona sheet we created, matt

[2017-01-26 21:51] jpailthorpe commented on #72
still on this, but will put in icebox for now and return to in the next week

[2017-01-27 15:47] esalling23 commented on #88
<img width="1196" alt="screen shot 2017-01-27 at 10 45 13 am" src="https://cloud.githubusercontent.com/assets/11821504/22376922/f853c026-e47d-11e6-8426-3039e3c6f48c.png">
Now seeing this after making a new QA build with the fix above!

[2017-01-27 15:55] esalling23 opened #102 "Remove "Home" Link on large screens, only show when logo is removed on small screens"
<img width="1209" alt="screen shot 2017-01-27 at 10 54 40 am" src="https://cloud.githubusercontent.com/assets/11821504/22377226/0eb3a1a0-e47f-11e6-8516-bf2fec517f87.png">
<img width="428" alt="screen shot 2017-01-27 at 10 54 51 am" src="https://cloud.githubusercontent.com/assets/11821504/22377227/0fc49fea-e47f-11e6-8cbb-0aaa79a110e4.png">

[2017-01-27 16:02] mattwbenson opened #103 "Bypassing Pre-Screen directs to QA version of Toolkit Builder, not production"
This bug occurs only when accessing the toolkit activities via this link:
![screen shot 2017-01-27 at 11 42 43 am copy](https://cloud.githubusercontent.com/assets/12397944/22379355/01c158f4-e487-11e6-9b22-01ff2ecf9be7.png)

Following that link leads to the toolkit builder being mostly completely cut-off:
![screen shot 2017-01-27 at 11 42 52 am](https://cloud.githubusercontent.com/assets/12397944/2

[2017-01-27 16:23] mattwbenson opened #104 "UX (minor) : Unclear that leaving toolkit page means losing selected activities"
Could be jarring/frustrating to user if they want to refer to the guide or other part of the site, only to find that they've lost their 'progress'?

[2017-01-27 16:24] mattwbenson opened #105 ""Measuring Value" button consistently cut-off across all screen sizes"

[2017-01-27 16:51] jpailthorpe commented on #102
I also noticed this being a weird thing when we first implemented this, but the more I used the site (and noted other sites) I feel okay leaving this since it allows for easier navigation,. I guess i think it can't hurt having more access and help for users to navigate as long as it doesn't confuse.  but curious what others think about this.

[2017-01-27 16:54] esalling23 commented on #103
Content issue. Fixed.

[2017-01-27 16:54] #103 closed

[2017-01-27 16:56] jpailthorpe commented on #11
Ref. @mattwbenson 's issue #104 to note additional UX issue with leaving/losing your activities.

[2017-01-27 17:35] jpailthorpe opened #106 "Toolkit: on some iphone/ipads (on all browsers), upon loading the toolkit, the app crashes"
ON CHROME:
Upon clicking the url for either the process builder or the browser activities, I get the loading indicator for a split second, and then after that, the app crashes. here is a screenshot.

ON SAFARI:
Upon clicking url, I get stuck in a loading loop. it keeps trying to refresh the page, and after 4 times it simply stops loading and gives a crash error. here is a screenshot:

This is not

[2017-01-27 17:55] jpailthorpe commented on #88
Above error was fixed^.

However, there is another issue where the height of the box is determined by the height of the content.

[2017-01-27 17:59] esalling23 opened #107 "Meta Data changes when leaving page, even if content for new page does not exist"
Currently meta data will update for a page that has it, but if you go to a page after that doesn't have content for meta data, it will show previous page's data. This should be fixed so that data is locally instead of globally set.

[2017-01-27 18:01] jpailthorpe commented on #104
See #11

[2017-01-27 18:07] jpailthorpe opened #108 "CodeCleaning: There were last minute style hacks and commented out code across site. Once prod goes live, lets try our best to optimize and clean. Checklist in card"
Here are all the noted places where code should be fixed/changed. Most of this will either be code removed from templates that is outdated/commented out, and creating new css classes for any in template style changes in certain templates (mostly due to me wanting a quick fix for production purposes and not wanting to get too deep into messing around with css because of unfamiliarity with compiling

[2017-01-27 18:33] jpailthorpe opened #109 "Casestudieshome: anything below the 1200 breakpoint makes the case study cards not display as overlapped and has large margin. Should do this instead at -425 break"
This is an aesthetic thing only.

It seems like its the media breakpoint  being set at min width of 1200 to overlap, when instead the margin spacing should be set at max width(I think?)  on the 426 msmall  break.

either way, it should be consistently overlapping style wise until mobile devices.

[2017-01-27 18:43] jpailthorpe opened #110 "guide: next and back links not working when moving from fixed to float"
They float, but link is not clickable until going back to top of screen

[2017-01-27 18:43] jpailthorpe commented on #110
erica pushed a fix for this. in review now

[2017-01-27 19:27] jpailthorpe opened #111 "Toolkit: When having a roadmap without any activities, and then adding some into your roadmap, keeps the "no activities in roadmap" text"
![qa cityaccelerator net-toolkit-builder iphone 5](https://cloud.githubusercontent.com/assets/10051544/22384532/c9252866-e49c-11e6-8942-8795e8892703.png)

[2017-01-27 19:28] jpailthorpe commented on #111
this is only when you load without any in your activities to begin with

[2017-01-27 19:34] jpailthorpe opened #112 "Toolkit: activity modals on smaller screens (-425) have excessive padding on right and left."
I think this is due to using the same o-wrapper class. Might need to have a subclass/media point that helps alleviate this, not sure. Just keep in mind this is used excessively across site, so be careful!

![qa cityaccelerator net-toolkit-builder iphone 5 1](https://cloud.githubusercontent.com/assets/10051544/22384765/c248f648-e49d-11e6-9c38-d699a8e39beb.png)

[2017-01-27 19:49] jpailthorpe opened #113 "Home: Ipad font sizing is wonky due to multiple media breakpoints"
I noticed there is a media break on both the c.hero container and the c.hero subtitle, for max and min width. which is creating funky text changes in strange ways at dif. sizes. Esp. problematic is how 768 width is the specific ipad sizing of the screen, and it misses the big font bump proided by the 800 breakpoint.

![screen shot 2017-01-27 at 2 56 02 pm](https://cloud.githubusercontent.com/asset

[2017-01-27 20:59] jpailthorpe opened #114 "need favicon asset to implement into site"
Need the asset created and then loaded

[2017-01-27 21:36] esalling23 commented on #88
Also seeing similar cut off of the main height on the MVP grid
<img width="755" alt="screen shot 2017-01-27 at 4 35 58 pm" src="https://cloud.githubusercontent.com/assets/11821504/22388488/bcf756e2-e4ae-11e6-9013-606dc1da2bf4.png">

[2017-01-27 21:50] jpailthorpe opened #115 "Guide: Because Executive summary should be the first page upon load, the introduction is still being loaded as the first page. Needs to come second"
1. click on guide
2. start reading
3. executive summary loads (this is correct) but introduction should be the next page, NOT back one page.

It is confusing i think because introduction is typically the first page in a thing. but in this case. think of executive summary as the FIRST page. THEN introduction

[2017-01-27 21:54] esalling23 commented on #115
I believe this is a content issue! The Introduction page should be dragged beneath the Executive Summary page in the list in Keystone!

[2017-01-27 22:00] esalling23 commented on #115
Fixed!

[2017-01-27 22:10] jpailthorpe commented on #110
![qa cityaccelerator net-guide-professionalization-of-engagement iphone 5](https://cloud.githubusercontent.com/assets/10051544/22389435/6d73c9ac-e4b3-11e6-986d-4ba7ba80290a.png)

The nav floating now causes the mobile bottom fixed nav to float too, causing content coverage.

[2017-01-27 22:13] jpailthorpe commented on #110
This is not happening on my device itself, but is still a little bit floaty. I will close this and make a sep. issue

[2017-01-27 22:13] #110 closed

[2017-01-27 22:18] jpailthorpe opened #116 "TOC/roadmpa (guide+toolkit) on mobile: when nav is fixed to bottom of window, becomes sometimes janky with animation and movement"
It is almost as if the nav item is trying to catch up sometimes, with a bit of a delay. This is not a huge deal breaker, but I am wondering how this performs on other devices now.

This image is what it looks like on chrome dev tools, stuck in that position until scrolling back up, which nests it back at the bottom
![qa cityaccelerator net-guide-professionalization-of-engagement iphone 5 2](https:

[2017-01-27 22:58] jpailthorpe commented on #115
yep. fixed!

[2017-01-27 22:58] #115 closed

[2017-01-27 23:06] jpailthorpe opened #117 "guide color background in css needs fixing"
![screen shot 2017-01-27 at 6 11 12 pm](https://cloud.githubusercontent.com/assets/10051544/22390797/3c2edd66-e4bb-11e6-9a70-a86755630a24.png)

Not sure if this is issue, but guide color on background not appearing.

[2017-01-27 23:09] jpailthorpe opened #118 "guide home: awkward spacing on mobile"
![qa cityaccelerator net-guide iphone 5](https://cloud.githubusercontent.com/assets/10051544/22390843/8e30d5ba-e4bb-11e6-82c1-8ab3f9b12523.png)

I think this is mostly due to having no colored background and this page designed differently, but it is weird on smaller mobile devices

[2017-01-27 23:11] jpailthorpe commented on #116
would like this reviewed on other devices, especially android

[2017-01-27 23:11] jpailthorpe commented on #83
added to production

[2017-01-27 23:11] #83 closed

[2017-01-27 23:12] jpailthorpe commented on #112
better!

[2017-01-27 23:12] #112 closed

[2017-01-27 23:13] jpailthorpe commented on #113
fixed

[2017-01-27 23:13] #113 closed

[2017-01-27 23:20] jpailthorpe commented on #88
Actually this is happening on many different loads. I feel like we might have gotten ourselves down a rabbit hole with this. Even if it works properly, it seems a bit weird that some boxes you have to scroll super far down (because there is more content) esp on mobile devices. Part of me wonders if we just have to revert back to the height being determined by each content box as it comes. Thoughts

[2017-01-27 23:32] jpailthorpe opened #119 "Casestudy: case study header on mobile is looks a little strange with so much padding."
![qa cityaccelerator net-case-studies-albuquerque iphone 6](https://cloud.githubusercontent.com/assets/10051544/22391385/df663f6c-e4be-11e6-91d7-0f45edcb669e.png)

[2017-01-27 23:34] jpailthorpe commented on #111
fixed

[2017-01-27 23:34] #111 closed

[2017-01-27 23:35] jpailthorpe commented on #69
fixed

[2017-01-27 23:35] #69 closed

[2017-01-28 00:23] jpailthorpe opened #120 "Guide page "professionalization of engagement" has huge image,resource hog"
https://engage.livingcities.org/guide/professionalization-of-engagement

The top image needs to be scaled down in cloudinary

[2017-01-28 00:25] jpailthorpe opened #121 "Guide ordering in sidebar is off, exec summary first, then intro"
Fixed in main guide, but not in sidebar. Think it is hardcoded.

![screen shot 2017-01-27 at 7 30 02 pm](https://cloud.githubusercontent.com/assets/10051544/22392378/5d468516-e4c6-11e6-8013-da5e93d5a199.png)

[2017-01-28 00:38] jpailthorpe opened #122 "home page: Should figure out a way to have a cleaner design on mobile. Removed logo from nav for clarity purposes, but maybe logo can be in hero for mobile?"
![screen shot 2017-01-27 at 7 41 55 pm](https://cloud.githubusercontent.com/assets/10051544/22392500/f5e9afe0-e4c7-11e6-8389-5972d4044835.png)

and then hidden on anything over 425? I'm not sure, but just want to note that it does feel a bit empty. Another solution is to change the hero copy to a line that also includes "public Engagement Roadmap" like "Building Your Public Engagement Roadmap Just